<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Codeer.Friendly" version="2.1.0" targetFramework="net40" />
  <package id="Codeer.Friendly.Windows" version="2.1.0" targetFramework="net40" />
  <package id="Codeer.Friendly.Windows.Grasp" version="2.1.0" targetFramework="net40" />
</packages>